/* Formes.css */

.form-container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-row {
    margin-bottom: 20px;
}

label {
    margin-bottom: 8px;
    display: block;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}


.form-row label,
.form-row input {
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #2f086e;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center; 
}

button:hover {
    background-color: #665da8;
}


label,
input[type="text"] {
    text-align: left;
}
