/* Header.css */

/* Reset de margin e padding para o componente Header */
body, h1, h2, h3, p, div, a {
  margin: 0;
  padding: 0;
}

/* Estilos para os links de navegação */
nav a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  transition: color 0.3s ease; /* Adiciona uma transição suave na mudança de cor ao passar o mouse */
}

nav a:hover {
  color: lightblue; /* Cor ao passar o mouse */
}

/* Estilos para o container principal (.fundo) */
.fundo {
  display: flex;
  justify-content: space-between; /* Coloca os elementos no início e no final do container */
  align-items: center; /* Centraliza verticalmente os elementos */
  background-color: #2c0d57; /* Cor de fundo da barra de navegação */
  color: white;
  height: 10vh;
}

/* Estilos para a metade esquerda (.half) */
.half {
  width: 50%; 
}


.half-content {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 0 20px; 
}


.half-content p {
  text-align: center; 
}


.navegador {
  display: flex;
  justify-content: flex-end; 
}


.navegador a {
  margin-left: 20px;
}


.navegador a {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
