.header {
    width: 100%;
    height: 50px; /* Adjust height as desired */
  }
  
  nav {
    background-color: black;
    color: azure;
    display: flex;
    justify-content: center;
  }
  
  nav a {
    text-decoration: none;
    color: #bebed479;
  }
  
  nav a:hover {
    color: #e9f1f7; /* Light gray for better contrast */
  }
  
  .active {
    background-color: #e9f1f7; /* Lighter color for better visibility */
    color: black;
  }
  