nav{
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 10px;
    padding: 5px;
    text-decoration: none;
    color: #03030479;
}

nav a:hover{
    color:rgb(47, 56, 29);
}

.active{
    background-color: aliceblue;
    color: black;
}